<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('/images/logo3.png')}}" alt="Logo du site"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-white" href="{{path('users_listes')}}">Liste des membres</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Annonces
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('create_announce')}}">Créer une annonce</a>
					<a class="dropdown-item" href="{{path('announces')}}">Liste des annonces</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Articles
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('article_create')}}">Créer une article</a>
					<a class="dropdown-item" href="{{path('list_article')}}">Liste des articles</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{app.user.pseudo}}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('users_Profil')}}">Voir mon profil</a>
					<a class="dropdown-item" href="{{path('message_private')}}">Voir mes messages</a>
					<a class="dropdown-item" href="{{path('app_logout')}}">déconnécter</a>
				</div>
			</li>
			{% if app.user.image != null %}
				<img src="image" src=""{{asset('')}} alt="image">
			{% else %}
				<img class="avatar" src="{{asset('/images/src/avatar_base.png')}}" alt="Avatar">
			{% endif %}
		</div>
	</nav>
