{% extends 'base.html.twig' %}

{% block title %}Afficher une Announce!
{% endblock %}


{% block body %}

	<article class="container-fluid">


		<div class="row mt-4">

			<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
				<h4>{{ announce.nameCompany }}</h4>
			</div>
		</div>

		<div class="row mt-4">

			<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
				<p>{{ announce.adressCompany }}</p>

			</div>
		</div>
		<div class="row mt-4">

			<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
				<p>{{ announce.adressAdditional }}</p>
			</div>
		</div>
		<div class="row mt-4">

			<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
				<p>{{ announce.zipCode }}</p>
			</div>
		</div>
		<div class="row mt-4">

			<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
				<p>{{ announce.city }}</p>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
			<h4>Le poste :
				{{ announce.title }}
			</h4>
		</div>
	</div>


</div>

<div class="row mt-4">
	<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
		<h4>{{ announce.description }}</h4>
	</div>
</div></div><div class="row mt-4">
<div class="col-8 offset-2 border rounded py-3" style="background: rgb(211, 211, 211);">
	<h4>Type d'emploi</h4>
	<p>{{ announce.categories }}</p>
</div>
<a href="{{ announce.originalLink }}">
	<button>Postuler</button>
</a>
<div class="col mt-4">
	{% if is_granted('edit',announce) %}
		<a href="{{ path('announce_edit', {id: announce.id}) }}" class="btn btn-secondary mr-3">Modifier</a>
	{% endif %}{#<a href="{{ path('announce_delete', { id: announce.id}) }}" class="btn btn-danger">Delete</a>#}{% if is_granted('delete',announce) %}

		{{ include('announces/deleteAnnounce.html.twig') }}
	{% endif %}
</article>{% endblock %}
