{% extends 'base.html.twig' %}

{% block title %}Afficher une Announce!{% endblock %}



{% block body %}

	

	<div class="example-wrapper">
		<div class="show">

			<div class="entreprise">
				<h4>{{ announce.nameCompany }}</h4>

				

				<p>{{ announce.adressCompany }}</p>

				<p>{{ announce.adressAdditional }}</p>

				<p>{{ announce.zipCode }}</p>

				<p>{{ announce.city }}</p>
			</div>


			<div class="annonce">
				<h4>Le poste : {{ announce.title }} </h4>
				
				
			</div>

			<div class="description">
				<h4>{{ announce.description }}</h4>
			</div>


			<div class="categorie">
				<h4>Type d'emploi</h4>
				<p>{{ announce.categories }}</p>
			</div>


		</div>
        <a href="{{ announce.originalLink }}">
		<button >Postuler</button>
		</a>

	</div>

	



{% endblock %}
