{% extends 'base.html.twig' %}

{% block title %}Afficher une Announce!
{% endblock %}


{% block body %}


	<div class="example-wrapper">
		<div class="show">

			<div class="entreprise">
				<h2>{{ announce.name_company }}</h2>

				

				<p>{{ announce.adress_company }}</p>

				<p>{{ announce.adress_additional }}</p>

				<p>{{ announce.zip_code }}</p>

				<p>{{ announce.city }}</p>
			</div>


			<div class="annonce">
				<h2>Le poste
				</h2>
				<h4>{{ announce.title }}</h4>
			</div>

			<div class="description">
				<h4>{{ announce.description }}</h4>
			</div>


			<div class="categorie">
				<h2>Type d'emploi</h2>
				<p>{{ announce.categories }}</p>
			</div>


		</div>
        
		<button>Postuler</button>

	</div>


</div>{% endblock %}
