{% extends 'base.html.twig' %}

{% block title %}
	edit announce!
{% endblock %}

{% block body %}

	<h1></h1>

	<div class="card-body">
		{{ form_start(form) }}
		{{ form_widget(form) }}

		{{ include('announces/formEdit.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('announces') }}">back to list</a>


		{{ form_end(form) }}

	{% endblock %}

	{% block stylesheets %}
	<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
	{% {% endblock %}

	{% block javascripts %}
		< script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/az.min.js">

		<script>
		$('select').select2();
		</script>
	{% endblock %}
