{% extends 'base.html.twig' %}

{% block title %}
	Liste des annonces
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<div class="select">
			<select class="custom-select">
				<option selected>Date de publication</option>
				{% for announce in announces %}
					{% set myDate = "now"|date %}
					{% if announce.createdAt %}
						{% set myDate = myDate|date_modify('-4 day') %}
						<a href="{{ path('announces', {slug: announce.slug}) }}">
						<option value="1">4 derniers jours</option>
					</a>
					{% else %}

						(unpublished)

					{% endif %}
					
				{% endfor %}
				<option value="2">3 derniers jours</option>
				<option value="3">7 derniers jours</option>
			</select>

			<select class="custom-select ">
				<option selected>Posté par</option>
				<option value="1">Admin</option>
				<option value="2">les autres membres</option>

			</select>

			<select class="custom-select ">
				<option selected>Categories</option>
				<option value="1">Stage</option>
				<option value="2">Alternance</option>
				<option value="3">Emploi</option>
			</select>


		</div>
		<div class="select_1">
			<select class="custom-select ">
				<option selected>Entreprise</option>
				<option value="1">entrprise 1</option>
				<option value="2">entrprise 2</option>
				<option value="3">Entreprise 3</option>
			</select>

			<select class="custom-select ">
				<option selected>Type de poste</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>


		</div>

		{% for announce in announces %}
			<a href="{{ path('announce_show', {slug: announce.slug}) }}">

				<div class="container">


					<div class="row">
						<div class="col-sm-6">
							<div class="card">
								<div class="card-body">

									<h4>{{ announce.nameCompany }}</h4>
									<p class="card-text">{{ announce.description | u.truncate( 65, '...', false) }}</p>
									{% if announce.createdAt %}
										{{ announce.createdAt |ago }}
									{% else %}

										(unpublished)

									{% endif %}
								</div>
							</div>
						</div>
					</div>

				</div>
			</a>
		{% endfor %}

	{% endblock %}
