{% extends 'base.html.twig' %}

{% block title %}
	Liste des annonces
{% endblock %}

{% block body %}


	<div class="container">
		{{ form_start }}
		
		{{ form_end }}

		<div class="row">
			{% for announce in announces %}


				<div class="col-sm-6">
					<a href="{{ path('announce_show', {slug: announce.slug}) }}">
						<div class="card">
							<div class="card-body">

								<h4>{{ announce.nameCompany }}</h4>
								<p class="card-text">{{ announce.description | u.truncate( 200, '...', false) }}</p>
								{% if announce.createdAt %}
									{{ announce.createdAt |ago }}
								{% else %}

									(unpublished)

								{% endif %}
							</div>
						</div>
					</a>
				</div>


			{% endfor %}
		</div>

	</div>

{% endblock %}
