{% extends 'base.html.twig' %}

{% block title %}Modification d'un article - {{parent()}}{% endblock %}

{% block body %}

<h1>Modifier l'article</h1>

{# On désactive la validation par défaut du navigateur #}
{{ form_start (form, {'attr': {'novalidate': 'novalidate'}})}}

	{# Affichage des champs titre, description, catégorie et lien article #}
	{{form_widget(form)}}

	{# Affichage des erreurs #}
    <div class="">
        {{ form_errors(form) }}
    </div>

	{# Le bouton de validation de la modification #}
	<button class="btn btn-primary">Modifier</button>

{{ form_end (form)}}

{% endblock %}
