{% extends 'base.html.twig' %}

{% block title %}Liste des articles - {{parent()}} {% endblock %}

{% block body %}

<h1>Liste des articles</h1>

	<main>

		<!-- Bouton de filtre suivant les catégories -->
		<div class="row">

			<div class="col-8 offset-2 mt-3">
				<select name="categories" class="">

					<option value=""></option>

					<option value="">Général</option>

					<option value="">Programmation</option>

					<option value="">Langages</option>

					<option value="">Frameworks</option>

					<option value="">API</option>

					<option value="">Logiciels</option>

					<option value="">Matériel informatique</option>

					<option value="">Secteur emploi</option>

				</select>

			</div>

		</div>

        {% for article in articles %}

        <div class="col-12 col-md-6 col-lg-4">

            <div class="card card-product mb-4">

                <div class="card-body">

                    <h4 class="card-title">
                        {# <a href="{{ path('article_show', {slug: article.slug}) }}" title="{{ article.name }}"> #}
                            {{ article.title }}
                        {# </a> #}
                    </h4>

                    <p class="card-text">{{ article.description | u.truncate(80, '...', false) }}</p>

                    <div class="mb-4">
                        Catégorie: {{ article.categories }}
                    </div>

					{# Utilisation du bundle knp-time-bundle, qui permet d'afficher le nombre de jours de la publication #}
					<p>Publié <time>{{ article.createdAt | ago }}</time></p>

				</div>

            </div>

        </div>

        {% endfor %}

	</Main>

{% endblock %}
