{% extends 'base.html.twig' %}

{% block title %}Liste des articles - {{parent()}} {% endblock %}

{% block body %}

<h1>Liste des articles</h1>

    {# {% for article in articles %}

        {{ article.title }}

        {{ article.categories }}

        {{ article.description | u.truncate(80, '...', false) }}

        {# {{ article.createdAt | Faire le calcul de jours depuis le poste }} #}

        {# <h1><a href="{{path('article', {'id': article.id}) }}"></a></h1>

    {% endfor %} #}



{% endblock %}
