{% extends 'base.html.twig' %}

{% block body %}
	<h1>LISTES DES UTILISATEURS</h1>
	<table class="table">
		<thead>
			
			<th>lastname</th>
			<th>firstname</th>
			<th>pseudo</th>
			<th>email</th>
			<th>sessionNumber</th>
			<th>phonenumber</th>
			<th>année courante</th>
			<th>linkedin</th>
			<th>github</th>
			<th>twitter</th>
			<th>situationcourante</th>
			<th>currentpost</th>


		</thead>
		<tbody>

			<tr>
				<td>{{app.user.lastname}}</td>
				</tr>
				<tr>
				<td>{{app.user.firstname}}</td>
				<td>{{app.user.pseudo}}</td>
				<td>{{app.user.email}}</td>
				<td>{{app.user.sessionnumber}}</td>
				<td>{{app.user.numberPhone}}</td>
				<td>{{app.user.linkedin}}</td>
				<td>{{app.user.github}}</td>
				<td>{{app.user.twitter}}</td>
				<td>{{app.user.currentSituation}}</td>
				<td>{{app.user.currentPost}}</td>


				<td></td>
			</tr>

		
		</tbody>
	</table>
	<a role="button" class="btn btn-success" href="{{path('editProfil', {'pseudo': app.user.pseudo})}}">ModifierProfil</a>
	
	<a role="submit" class="btn btn-primary" href="{{path('message_private')}}">Voirmessageprivés</a>
	<a role="submit" class="btn btn-danger" href="{{path('deleteProfil')}}">SuprimerCompte</a>
{% endblock %}
