{% extends 'base.html.twig' %}

{% block body %}
	<h1>PROFIL DE {{app.user.pseudo}}</h1>


	<div class="container">
<table>
		<tr>
			<td>lastname:</td>
			<td>{{app.user.lastname}}</td>
		</tr>
		<tr>
			<td>Firstname:</td>
			<td>{{app.user.firstname}}</td>
		</tr>
		<tr>
			<td>pseudo:</td>
			<td>{{app.user.pseudo}}</td>
		</tr>
		<tr>
			<td>email:</td>
			<td>{{app.user.email}}</td>
		</tr>
		<tr>
			<td>numéroSession:</td>
			<td>{{app.user.sessionnumber}}</td>
		</tr>
		<tr>
			<td>Numéro de téléphone:</td>
			<td>{{app.user.numberPhone}}</td>
		</tr>
		<tr>
			<td>Linkedin</td>
			<td>{{app.user.linkedin}}</td>
		</tr>
		<tr>
			<td>Github:</td>
			<td>{{app.user.github}}</td>
		</tr>
		<tr>
			<td>Twitter:</td>
			<td>{{app.user.twitter}}</td>
		</tr>
		<tr>
			<td>Situationcourante:</td>
			<td>{{app.user.currentSituation}}</td>
		</tr>
		<tr>
			<td>Posteactuelle:</td>
			<td>{{app.user.currentPost}}</td>
		</tr>
</table>
		
	</div>


	<a role="button" class="btn btn-success" href="{{path('editProfil', {'pseudo': app.user.pseudo})}}">ModifierProfil</a>
	<a role="submit" class="btn btn-primary" href="{{path('message_private')}}">Voirmessageprivés</a>
	<a role="submit" class="btn btn-danger" href="{{path('deleteProfil')}}">SuprimerCompte</a>
	{% if is_granted('ROLE_ADMIN') %}
		<a role="submit" class="btn btn-primary" href="{{ path('admin')}}">Voir les comptes en attentes</a>
	{% endif %}
{% endblock %}
