{% extends 'base.html.twig' %}
{% block title %}Welcome!
{% endblock %}


{% block body %}

	<h1>PROFIL DE {{users.pseudo}}</h1>


	<div class="container">
<table>
		<tr>
			<td>lastname:</td>
			<td>{{users.lastname}}</td>
		</tr>
		<tr>
			<td>Firstname:</td>
			<td>{{users.firstname}}</td>
		</tr>
		<tr>
			<td>pseudo:</td>
			<td>{{users.pseudo}}</td>
		</tr>
		<tr>
			<td>email:</td>
			<td>{{users.email}}</td>
		</tr>
		<tr>
			<td>numéroSession:</td>
			<td>{{users.sessionnumber}}</td>
		</tr>
		<tr>
			<td>Numéro de téléphone:</td>
			<td>{{users.numberPhone}}</td>
		</tr>
		<tr>
			<td>Linkedin</td>
			<td>{{users.linkedin}}</td>
		</tr>
		<tr>
			<td>Github:</td>
			<td>{{users.github}}</td>
		</tr>
		<tr>
			<td>Twitter:</td>
			<td>{{users.twitter}}</td>
		</tr>
		<tr>
			<td>Situationcourante:</td>
			<td>{{users.currentSituation}}</td>
		</tr>
		<tr>
			<td>Posteactuelle:</td>
			<td>{{users.currentPost}}</td>
		</tr>
</table>

	</div>


	<a role="submit" class="btn btn-primary" href="{{path('message_private')}}">Voirmessageprivés</a>


{% endblock %}
