{% extends 'base.html.twig' %}


{% block title %}Message reçu -
	{{parent()}}
{% endblock %}

{% block body %}

<h1 class="text-center p-4">
	Message Reçu
</h1>
<div class="container col-10 offset-1 ">
	<table class="table border rounded list">

		<thead>

			<th>Objet</th>
			<th>Message reçu</th>
			<th>Date</th>
			<th>
				<a role="submit" class="btn btn-primary" href="{{path('message_private')}}">Répondre</a>
			</th>

		</thead>
		<tbody>
			{% for message in messages %}
				<tr>
					<td>{{message.object}}</td>
					<td>{{message.message}}</td>
					<td>{{message.createdAt|ago}}</td>
				</tr>
			</tbody>
		{% else %}

			<tr>

				<td colspan="4">
					Vous n'avez reçu aucun message pour le moment
				</td>
			</tr>
		{% endfor %}

	</div>

</tbody></table></div>{%endblock%}
